h1 a, h2 a {
    color: #2C6298;
}

.header_ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header_li{
    float: left;
}

.header_a {
    display: block;
    color:#000;
    text-align: center;
    padding: 10px 18px;
    text-decoration: none;
}

li a:hover {
    background-color: #5BA6CB;
    color: white;
}

.active {
    background-color: gray;
    color: white;
}