h1 a, h2 a {
    color: #008080;
    display: block;
    text-align: center;
    font-size: 60px;
    margin-top: 100px;
}

p{
    text-align: center;
    font-size: 20px;
}

.navigation ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

body{
    background-color: white;
}

.navigation li{
    display: inline;
}

.navigation a{
    display: inline-block;
    color:#000;
    text-align: center;
    padding: 10px 18px;
    font-size: 18px;
    text-decoration: none;
}

.navigation a:hover {
    background-color: #5BA6CB;
    color: white;
}

.box{
    width: 200px;
    padding: 10px;
    margin: 0;
    height: 10px;
    border-color: blue;
}


.active {
    background-color: gray;
    color: white;
}