<nav class="navigation">
  <ul>
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'queries:input_single' %}"> Analyze Query</a></li>
    <li><a href="{% url 'queries:input_multiple' %}"> Analyze Queries</a></li>
    <li><a href="{% url 'queries:query_list' %}">Queries</a></li>
  </ul>

</nav>

<!--
<nav class="navigation">
  <ul>
    <li class='header_li'><a class='header_a' href="{% url 'home' %}">Home</a></li>
    <li class='header_li'><a class='header_a' href="{% url 'queries:input_single' %}"> Analyze Query</a></li>
    <li class='header_li'><a class='header_a' href="{% url 'queries:input_multiple' %}"> Analyze Queries</a></li>
    <li class='header_li'><a class='header_a' href="{% url 'queries:query_list' %}">Queries</a></li>
  </ul>

</nav>
-->


