{% extends 'base.html' %}

{% block content %}
<h1 class="Analysis">Analysis for input query</h1>


<h3>Filename: {{ query.fileName }}</h3>
<h4> Genome length: {{ statistics.genome_length }}</h4><br>

    <table>
    	<tr>
    		<th>Rank</th>
    		<th>Scientific Name</th>
    		<th>Common Name</th>
    		<th>Distance</th>
		</tr>
 
    	{% for pair in output %}
    	<tr>
    		<td>{{ forloop.counter }}</td>
    		<td>{{ pair.1 }}</td>
	        <td>{{ pair.0 }}</td>
	        <td>{{ pair.2 }}</td>
	    </tr>
	    {% endfor %}

	</table>

	<br>

	<h4>Repeat Ratios Bar Plot</h4>
	<br>
	<img src="../../media/{{ barplot_fp }}.png" style="width:400px;height:300px">

{% endblock %}
