{% extends 'base.html' %}

{% block content %}
<h3 class="Analysis">Analysis for input query</h3>

<h4>Filename: {{ query.fileName }}</h4>
<!-- {{ query.queryFile.name }}<br> -->
    <!-- {% for pair in output %}<br>
        {{ pair.0 }} - {{ pair.1 }}
    {% endfor %} -->

    <table>
    	<tr>
    		<th>Reference File</th>
    		<th>Closest Reference Distance</th>
    	</tr>
 
    	{% for pair in output %}
    	<tr>
	        <td>{{ pair.0 }}</td>
	        <td>{{ pair.1 }}</td>
	    </tr>
	    {% endfor %}

	</table>
	<img src="../../media/{{ barplot_fp }}.png">
{% endblock %}
